.container {
    background-color: rgba(75, 163, 225, 1);
    display: flex;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 8px;
}

.container h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 32px;
    font-family: sans-serif;
}
